<nav id="{{id}}" class="links">
    <a href="#{{id}}">
        <h2>{{id}}</h2>
    </a>
    <ul>
    {% for raindrop in raindrops %}
        {%- render "link.liquid", raindrop: raindrop, faviconDict: faviconDict -%}
    {% endfor %}
    </ul>
</nav>