<!DOCTYPE html>
<html lang="en">
{% assign title = process.env.title | default: "Raindrop.io Webportal" %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
    <header>
        <h1>{{title}}</h1>
    </header>
    <main>
        {% for tag in tags %}
            {% render "links.liquid",
               id: tag,
               raindrops: raindropsByTags[tag]
            %}
        {% endfor %}
        {% render "links.liquid", 
           id: "Everything",
           raindrops: raindrops
        %}
    </main>
</body>
</html>