@use 'sass:color';

$color-0: #eeb4b3ff;
$color-1: #c179b9ff;
$color-2: #a42cd6ff;
$color-3: #502274ff;
$color-4: #2f242cff;


body {
    color: white;
    background-color: $color-4;
    background: linear-gradient(95deg, $color-1, $color-3);
    font-size: 16px;
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace; 
    font-weight: normal;
}

main {
    width: 95%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
}

a {
    &:link {
        color: white;
    }
    &:visited {

    }
    &:hover {

    }
    &:active {

    }
}


.links {
    min-width: 400px;
    margin: 10px;
    padding: 10px;
    flex: 1;
    background-color: $color-4;
    border: 3px groove;

    h2 {
        margin-top: 3px;
        text-align: right;
        margin-right: 5px;
    }

    &:nth-child(odd) {
        border-color: $color-2;
        ul {
            border-color: $color-1;
        }
    }
    &:nth-child(even) {
        border-color: $color-2;
        ul {
            //border-color: $color-0;
            //border-style: double;
        }
    }

    ul {
        padding: 5px;
        list-style: none;

        //border: 3px solid;

        
    }
}

.link {
    padding: 5px;
    &:nth-child(even) {
        background-color: color.scale($color-2, $alpha:-35%);
        
    }
    &:nth-child(odd) {
        background-color: color.scale($color-3, $alpha:-35%);
    }
    .title {
        display: inline;
        font-weight: bold;
        font-size: 1rem;
    }
}

.favicon {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 5px;
}