@use 'sass:color';

$color-0: #eeb4b3ff;
$color-1: #c179b9ff;
$color-2: #a42cd6ff;
$color-3: #502274ff;
$color-4: #2f242cff;

/* Based on https://webaim.org/techniques/css/invisiblecontent/ & https://www.w3schools.com/accessibility/accessibility_skip_links.php */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-link:focus {
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: $color-4;
}

.skip-link:link, .skip-link:visited, .skip-link:hover, .skip-link:active {
    color: white;  /* Normalise the color */
}

body {
    margin: 0;
    color: white;
    background-color: $color-4;
    background: linear-gradient(95deg, $color-1, $color-3);
    font-size: 16px;
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace; 
    font-weight: normal;

    &.js-only {
        .no-js {
            display: none;
        }
    }

    &.no-js {
        .js-only {
            display: none;
        }
    }
}

main {
    width: 95%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer {
    text-align: center;
    padding-bottom: 10px;
}

@media screen and (orientation: portrait) {
    main {
        width: 100%;
        margin: 0;
    }
}

h1 {
    text-align: center;
}

a {
    text-underline-offset: 4px;
    &:link {
        color: white;
    }
    &:visited {
        color: white;
        text-decoration-color: $color-0;
    }
    &:hover {
        color: $color-1;
    }
    &:active {
        color: $color-3;
    }
}

.tags {
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;

    list-style: none;
    
    input {
        display: none;
    }
}
.link .tags {
    justify-content: flex-start;
}

.taglabel {
    display: block;
    padding: 10px;
    border: 1px groove $color-3;
    border-radius: 20px;
    background-color: $color-2;
    cursor: pointer;
    &[aria-pressed="true"] {
        color: black;
        background-color: $color-0;
    }
}

.links {
    min-width: 40vw;
    margin: 10px;
    padding: 10px;
    flex: 1;
    background-color: $color-4;
    border: 3px groove;

    h2 {
        margin-top: 3px;
        text-align: right;
        margin-right: 5px;
    }

    &:nth-child(odd) {
        border-color: $color-2;
        ul {
            border-color: $color-1;
        }
    }
    &:nth-child(even) {
        border-color: $color-2;
        ul {
            //border-color: $color-0;
            //border-style: double;
        }
    }

    ul {
        padding: 5px;
        list-style: none;

        //border: 3px solid;

        
    }
}

.link {
    padding: 5px;
    &:nth-child(even) {
        background-color: color.scale($color-2, $alpha:-35%);
        
    }
    &:nth-child(odd) {
        background-color: color.scale($color-3, $alpha:-35%);
    }
    .title {
        display: inline;
        font-weight: bold;
        font-size: 1rem;
    }
}

.favicon {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 5px;
}